{% extends "base.html" %}
{% set active_page = "Posts" %}

{% block title %}{{ super() }} — {{ article.title }}{% endblock title %}

{%- block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags|e }}">{{ article.title }}</a></h2>  
  </header>
  {{ article.content }}
  


{% if article.tags %}
<p class="post-tags">
<b>Tagged:<b>
   {% for tag in article.tags %}
     <span><a href="{{ SITEURL }}/{{tag.url}}">{{tag}}</a></span>
     {% if not loop.last %} / {% endif %}
   {% endfor %}
</p>
{% endif %}
{% if DISQUS_SITENAME %}
<div class="comments">

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_identifier = "{{ article.url }}";
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
</div>
{% endif %}

</section>
{% endblock content -%}
