{% extends "base.html" %}
{% set active_page = "Posts" %}

{%- block content %}
  {% for article in articles_page.object_list %}        
  <section id="content" class="body">
    <header>
      <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags|e }}">{{ article.title }}</a></h2>  
    </header>
    <div class="post-content"> 
      {{ article.summary }}
    </div>
    
   <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Read more →</a>
  </section>
 {% endfor %}

{% endblock content -%}
