<!DOCTYPE html>
<html charset="UTF-8">
<head>
    <link href='style.css' rel='stylesheet' type='text/css'>
    <title>Robert McGibbon</title>
</head>
<body>
<div class="wrapper">

<div id="content">
<div class='section'>
  <img src='images/banner560.png' width='100%' />
  <div class="section", id="header"></div>
<div class='section'>
<div class="section", id="body"></div>
<div class="section", id="footer"></div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
<script src='js/jquery.easing.1.1.js' type='text/javascript'></script>
<script src='js/jquery.lavalamp.js' type='text/javascript'></script>

<!--START    BODY FOR "ROBERT" PAGE-->
<div style="display:none;" id="_body_home">
  <img alt='Robert' class='left' height='175px' src='images/rmcgibbo.png' />
  <p>I'm currently a third year PhD student in the Department of Chemistry at 
      Stanford University. I work with
      <a href="http://folding.stanford.edu/Pande/Main">Vijay Pande</a> on
      quantitative statistical analysis of protein dynamics via long-timescale
      simulation and Markov models.</p>
  <p>I graduated from Princeton University, where I studied Chemistry and
      Computer Science. While there, I worked with
      <a href="http://webscript.princeton.edu/~abbgroup/about_andy">Andrew Bocarsly</a>.</p>
  <p>In my free time, I read, follow politics, and rock climb. My GPG public key is <a href="key.asc">here</a>.</p>
</div>
<!-- END    BODY FOR "ROBERT" PAGE-->


<!--START    BODY FOR "RESEARCH" PAGE-->
<div style="display:none;" id="_body_research">
<p> My research with <a href="http://folding.stanford.edu/Pande/Main">Vijay Pande</a>
    centers around building new techniques for the quantitative statistical
    analysis of long timescale molecular dynamics simulations, typically for
    protein folding and conformational change.</p>
<p> This work has involved both theory, software development, and applications.
    Aspects have involved distance metric learning, using large-margin
    techniques, the development of novel L1-regularized hidden Markov models
    for analysis of protein dynamics (including a massively accelerated
    multicore and CUDA implementations), and variational methods for model
    selection. </p>
<p> Most of this research requires writing new software, and
    scalability is a central priority for our work on massive protein dynamics
    datasets. This work is all publicly available on <a href="http://github.com/rmcgibbo">github</a>. </p>

</div>
<!-- END    BODY FOR "RESEARCH" PAGE-->


<div style="display:none;" id="_body_publications">
 <p class="bib">
   <span class="me">R. T. McGibbon</span>, K. A. Beauchamp, C. R. Schwantes,
   L.-P. Wang, C. X. Hernandez, M. P. Harrigan, T. J. Lane, J. M. Swails,
   and V. S. Pande, "MDTraj: a modern, open library for the analysis of
   molecular dynamics trajectories" <span class="journal">submitted</span> (2014)
   <a href="http://biorxiv.org/content/early/2014/09/09/008896">[bioRxiv]</a>
 </p>

 <p class="bib">
      L.-P. Wang, A. Titov, <span class="me">R. T. McGibbon</span>, F. Liu,
      V. S. Pande, and T. J. Martinez, "Discovering chemistry with an
      <em>ab initio </em>nanoreactor" <span class="journal">accepted</span> (2014)
 </p>

 <p class="bib">
   <span class="me">R. T. McGibbon</span> and V. S. Pande,
   "Variational cross-validation of slow dynamical modes in molecular kinetics"
   <span class="journal">submitted</span> (2014)
   <a href="http://arxiv.org/abs/1407.8083">[arXiv]</a>
 </p>

 <p class="bib">
   C. R. Schwantes, <span class="me">R. T. McGibbon</span>, and V. S. Pande,
   "Perspective: Markov Models for Long-Timescale Biomolecular Dynamics"
   <span class="journal">J. Chem. Phys.</span> (2014)
   <a href="http://doi.org/10.1063/1.4895044">[doi]</a>
   <a href="http://stanford.edu/~rmcgibbo/papers/1.4895044.pdf">[pdf]</a>
 </p>

 <p class="bib">
   <span class="me">R. T. McGibbon</span>, B. Ramsundar, M. M. Sultan, G. Kiss
   and V. S. Pande, "Understanding Protein Dynamics with L1-Regularized
   Reversible Hidden Markov Models"
   <span class="journal">ICML</span> (2014)
   <a href="http://jmlr.org/proceedings/papers/v32/mcgibbon14.html">[jmlr]</a>
   <a href="http://arxiv.org/abs/1405.1444">[arXiv]</a>
 </p>
 
 <p class="bib">
   <span class="me">R. T. McGibbon</span>, C. R. Schwantes, and V. S. Pande,
   "Statistical Model Selection for Markov Models of Biomolecular Dynamics"
   <span class="journal">J. Phys. Chem B</span> (2014)
   <a href="http://pubs.acs.org/doi/abs/10.1021/jp411822r">[doi]</a>
   <a href="http://stanford.edu/~rmcgibbo/papers/jp411822r.pdf">[pdf]</a>
 </p>
 
  <p class="bib">
    <span class="me">R. T. McGibbon</span> and V. S. Pande,
    "Learning Kinetic Distance Metrics for Markov State Models of Protein Conformational Dynamics"
    <span class="journal">J. Chem. Theory Comput.</span> (2013)
    <a href="http://pubs.acs.org/doi/abs/10.1021/ct400132h">[doi]</a>
    <a href="http://stanford.edu/~rmcgibbo/papers/ct400132h.pdf">[pdf]</a>
  </p>
    
  <p class="bib">
    K. A. Beauchamp, <span class="me">R. T. McGibbon</span>, Y. S. Lin and V. S. Pande,
    "Simple few-state models reveal hidden complexity in protein folding,"
    <span class="journal">Proc. Natl. Acad. Sci. U. S. A.</span> (2012)
    <a href="http://dx.doi.org/10.1073/pnas.1201810109">[doi]</a>
    <a href="http://stanford.edu/~rmcgibbo/papers/17807.full.pdf">[pdf]</a>
  </p>
  
  <p class="bib">
    A. J. Morris, <span class="me">R. T. McGibbon</span> and A. B. Bocarsly,
    "Electrocatalytic Carbon Dioxide Activation: The Rate-Determining Step of Pyridinium-Catalyzed CO2 Reduction,"
    <span class="journal">ChemSusChem</span> (2011)
    <a href="http://dx.doi.org/10.1002/cssc.201000379">[doi]</a>
    <a href="http://stanford.edu/~rmcgibbo/papers/cssc.201000379.pdf">[pdf]</a>
  </p>

</div>

<div style="display:none;" id="_body_teaching">
<p>During the 2011 autumn quarter, I led a section for CHEM 31X, Stanford's accelerated general chemistry course. My <a href="http://stanford.edu/~rmcgibbo/teachingfall11/index.html">section website</a> contains problems and other material for the course.</p>
<p>During the 2012 winter quarter, I was a teaching assistant for CHEM 31B, Stanford's second quarter general chemistry course.</p>
<p>In the spring quarter, I was the head teaching assistant for CHEM 135, "Physical Chemistry Principles", a 300 person physical chemistry course primarily targeted at pre-medical students.</p>
</div>

<!--START    BODY FOR "PRESENTATIONS" PAGE-->
<div style="display:none;" id="_body_presentations">
<ul>
    <li> <a href="http://htmlpreview.github.io/?https://github.com/rmcgibbo/group_meeting_january13/blob/master/index.html"> Hidden Markov Models are Better. January 13th 2014 </a> </li>
    <li> <a href="http://htmlpreview.github.io/?https://github.com/rmcgibbo/progress_presentation/blob/master/public/index.html"> Statistical Modeling of Conformational Dynamics. August 27, 2013 </a></li>
    <li> <a href="http://htmlpreview.github.io/?https://github.com/rmcgibbo/group_meeting_april22/blob/master/index.html">Protein Folding is Easy; Towards MSMs for Conformational Change. April 29th 2013</a> </li>
    <li> <a href="http://techtalks.tv/talks/understanding-protein-dynamics-with-l1-regularized-reversible-hidden-markov-models/61158/">Understanding Protein Dynamics with L1-Regularized Reversible Hidden Markov Models (ICML '14, Beijing, China)</a></li>
</ul>
</div>
<!--END    BODY FOR "PRESENTATIONS" PAGE-->

<!--START    HEADER-->
<script type='text/template' id="_header">
  <ul class='menuBar'>
    <li class=<%= active=='home'?'current':'' %>>
      <a href='#home'>Robert T. McGibbon</a>
    </li>
    <li class=<%= active=='research'?'current':''%>>
      <a href='#research'>Research</a>
    </li>
    <li class=<%= active=='publications'?'current':''%>>
      <a href='#publications'>Publications</a>
    </li>
    <li class=<%= active=='teaching'?'current':''%>>
      <a href='http://blog.rmcgibbo.org'>blog</a>
    </li>
    <li>
    <li class=<%= active=='presentations'?'current':''%>>
      <a href="#presentations">Presentations</a>
    </li>
  </ul>
</script>
<!--END     HEADER-->

<script src="js/bib-container.js"></script>
<script src="js/main.js"></script>


</div> <!-- wrapper -->
<div class="footer">
  <ul class='social'>
    <li><a href="http://www.github.com/rmcgibbo"> <img src='images/github-logo.png' /></a> </li>
    <li><a href="http://www.twitter.com/rmcgibbo"> <img src='images/twitter-logo.png' /></a> </li>
    <li><a href="http://www.quora.com/Robert-McGibbon"> <img src='images/quora-logo.png' /></a> </li>
    <li><a href="https://www.linkedin.com/pub/robert-t-mcgibbon/98/853/642"> <img src='images/linkedin-logo.png' /></a></li>
    <!-- <li><a href="http://about.me/rmcgibbo"> <img src='about.me-logo.png' /></a> </li> -->
  </ul>
</div>

</body>
</html>
